/* PizzaList */
.PizzaList {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
}
.PizzaList a {
  text-decoration: none;
}

/* PizzaCard */
.PizzaCard {
  flex-shrink: 1;
  font-size: 16px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: gray;
  margin-bottom: 50px;
}
.PizzaCard .title {
  display: flex;
  align-items: center;
}
.PizzaCard .title h2 {
  color: black;
  font-weight: bold;
  font-size: 24px;
}
.PizzaCard .title .new {
  display: flex;
  justify-content: center;
  align-items: center;
}
.PizzaCard .title .new span {
  background-color: red;
  color: white;
  padding: 2px 4px;
  font-size: 12px;
  display: inline-block;
  margin-left: 4px;
}
.PizzaCard .price {
  color: black;
  font-weight: bold;
  margin: 10px 0;
  font-size: 20px;
}
.PizzaCard .size {
  color: red;
  display: inline-block;
  margin-right: 10px;
}
.PizzaCard .thumb {
  background-color: aquamarine;
  position: relative;
}

/* InfoIcon */
.InfoIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 100;
  cursor: pointer;
}
.InfoIcon:hover {
  color: yellow;
  background-color: rgba(0, 0, 0, 0.7);
}
.InfoIcon svg {
  width: 20px;
  height: 20px;
}
